<%- include('../partials/headHtml')%>
<body class="bg-gray-50">
    <%- include('../partials/header')%>
    <main class="container mx-auto px-4 py-8">
        <h1 class="text-3xl text-center font-bold text-gray-800 mb-6">Host Home List</h1>
        <ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
            <% homes.forEach((home) => {%>
                <%- include('../partials/homeList', {home: home})%>
                    <form action="/admin/deleteHome/<%= home.id%>" method="POST"><!-- delete change in databse i need to pass it as POST method-->
                        <button type="submit" 
                            class="w-20 bg-red-500 text-white px-5 py-1 m-1 rounded-lg font-semibold hover:bg-red-600 transition"
                        >
                            Delete
                    </button>
                    </form>
                    <a href="/admin/editHome/<%= home.id%>?editing=true"
                        class="w-20 bg-blue-500 text-white px-6 py-1 m-1 rounded-lg font-semibold hover:bg-blue-600 transition"
                    >
                        Edit
                    </a>
                </li>
            <%});%>
        </ul>
    </main>
    <%- include('../partials/footer')%>
</body>
</html>